.movie {
  display: flex;
  height: 295px;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.movie-info {
  font-weight: 400;
  font-style: normal;
  font-family: 'Inter', sans-serif;
}

.img-container {
  width: 200px;
  margin-right: 20px;
}

.img-container img {
  max-width: 200px;
  height: 100%;
}

.movie-title {
  display: flex;
  justify-content: space-between;
}

.movie-title h2 {
  color: #000;
  font-size: 20px;
  line-height: 28px;
  margin: 12px 0 7px;
}

.movie-average {
  display: flex;
  min-width: 34px;
  margin: 12px 9px;
  min-height: 34px;
  align-self: start;
  border-radius: 50%;
  align-items: center;
  border: 2px solid #000;
  justify-content: center;
}

.movie-average__border-rad {
  border-color: #e90000;
}

.movie-average__border-orange {
  border-color: #e97e00;
}

.movie-average__border-yellow {
  border-color: #e9d100;
}

.movie-average__border-green {
  border-color: #66e900;
}

.movie-average p {
  margin: 0;
  height: 100%;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
}

.movie-releaseDate {
  color: #827e7e;
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 7px;
}

.movie-description {
  color: #000;
  font-size: 12px;
  line-height: 22px;
  margin-right: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.movieGenres {
  margin: 0;
  display: flex;
	flex-wrap: wrap;
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
